<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Carrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/reglas-generales.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="caja-listado">
        <section class="lista-productos">
            <div class="datos-prod">
                <h1>Home/carrito</h1>
                <h2>Lista de lista de productos</h2>
            </div>
            <section class="productos">
                <% if (response.length != 0) { %>
                    <% for( let i = 0; i < response.length; i++ ) { %>
                    <div class="product">
                            <div class="info-producto" id="imagenProd">
                                <img src="/upload/products/<%= response[i].product.photo %> ">
                            </div>
                            <div class="info-producto" id="datos-Prod">
                                <h4 style="text-align: center;"><%= response[i].product.name %> </h4>
                            </div>
                            <div class="info-producto" id="info-precio-producto">
                                <p>$<%= response[i].product.price %> </p>
                            </div>
                            <div class="info-producto" id="cantidad">
                                <div class="container">
                                    <button class="decrease" id="cantidad" type="button"> - </button>
                                    <input type="number" class="cantidadProductos1x1" value="<%= response[i].quantity %>" min="1" max="<%= response[i].product.stock %> " >
                                    <button class="increase" id="cantidad" type="button"> + </button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }else { %>
                    <p class="carritoVacio">Todavía no agregaste productos</p>
                    <% } %>
                    
            </section>
            <section class="parte-inferior-lista-productos">
                <div>
                    <a href="/"><button type="button" class="boton1">Seguir comprando</button></a>
                </div>
                <div>
                    <form action="/carrito/vaciar" method="POST">
                        <button type="submit" class="boton1" >Vaciar</button>
                    </form>
                </div>
                <div>
                    <button type="button" class="boton1">Pagar</button>
                </div>
                <article class="Precio-total">
                    <% let total = 0; %> 
                    <h2 class="total-cart">Total a pagar: $ <% for( let i = 0; i < response.length; i++ ) { %>
                         <% total = parseInt(response[i].product.price) + total%>
                         <% } %>
                         <%= total %>  
                    </h2>
                </article>
            </section>
        </section>
    </div>


    <%- include('partials/footer.ejs') %>

    <script src="javascripts/header.js"></script>
    <script src="javascripts/carrito.js"></script>

</body>
</html>