<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Carrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/reglas-generales.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="caja-listado">
        <section class="lista-productos">
            <div class="datos-prod">
                <h1>Home/carrito</h1>
                <h2>Lista de lista de productos</h2>
            </div>
            <section class="productos">
                <% for( let i = 0; i < response.length; i++ ) { %>
                <div class="product">
                        <div class="info-producto" id="imagenProd">
                            <img src="/upload/products/<%= response[i].photo %> ">
                        </div>
                        <div class="info-producto" id="datos-Prod">
                            <h4 style="text-align: center;"><%= response[i].name %> </h4>
                            <p><%= response.product_id[i].description %> </p>
                        </div>
                        <div class="info-producto" id="info-precio-producto">
                            <p><%= response.product_id.price %> </p>
                        </div>
                        <div class="info-producto" id="cantidad">
                            <div class="container">
                                <button class="decrease" id="cantidad" type="button" onclick=" disminuir()"> - </button>
                                <input type="number" class="cantidadProductos1x1" readonly value="1">
                                <button class="increase" id="cantidad" type="button" onclick=" aumentar()"> + </button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </section>
            <section class="parte-inferior-lista-productos">
                <div>
                    <button type="button" >Seguir comprando</button>
                </div>
                <div>
                    <button type="reset">Vaciar</button>
                </div>
                <div>
                    <button type="button">Pagar</button>
                </div>
                <article class="Precio-total">
                    <h2>Precio total</h2>
                </article>
            </section>
        </section>
    </div>


    <%- include('partials/footer.ejs') %>

    <script src="javascripts/header.js"></script>
    <script src="javascripts/carrito.js"></script>

</body>
</html>