<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/reglas-generales.css">
    <link rel="stylesheet" href="/css/listado.css">
</head>
<body>
    <%- include ('partials/header') %> 
    <div class="container">
        <div class="resultados">
            <h1> <%= (typeof busqueda != 'undefined') ? busqueda: '' %>  </h1>
            <h3>Cantidad de productos: <%= listado.length %> </h3>
        </div>
        <div class="listado">
            <div class="filtros">
                <h2>Filtros</h2>
                <h4>Ordenar por:</h4>
                <ul>
                    <li><a href="">Mayor precio</a></li>
                    <li><a href="">Menor precio</a></li>
                </ul>
            </div>
            <section>
        <% for( let i = 0; i < listado.length; i++ ) { %>
            <a href="/productos/<%= listado[i].id %> ">
                <article>
                        <div class="img-container">
                            <img src="/upload/products/<%= listado[i].photo %>">
                        </div>
                        <div class="title_price">
                            <h6>
                                <%= listado[i].name %> 
                            </h6>
                            <h4>
                                <%= listado[i].price %> 
                            </h4>
                        </div>
                    </article>
                </a>            
            <% } %>
        </section>
    </div>
            
    <%- include('partials/footer') %> 

    <script src="/javascripts/header.js"></script>
</body>
</html>
