<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" href="css/login.css">
  <script src="https://kit.fontawesome.com/04e8377fb9.js" crossorigin="anonymous"></script>
  <title>Iniciar sesión</title>
</head>
<body>  
    <div>
        <button class="volver"><a href="/" id="btn-volver">Volver</a></button>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/register" enctype="multipart/form-data" method="POST" id="form-register">
                    <h1>Crear cuenta</h1>
                    <span>Usá tu email para registrarte</span>
                    <input type="text" name="nombre" id= "nombre" placeholder="Nombre" >
                    <% if (typeof errors != 'undefined' && errors.nombre) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.nombre.msg %> </div>
                    <% } %>

                    <input type="email" name="email" id= "email" placeholder="Email" >
                    <% if (typeof errors != 'undefined' && errors.email) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.email.msg %> </div>
                    <% } %>

                    <label for="avatar"></label>
                    <input type="file" name="avatar" id="avatar">
                    <% if (typeof errors != 'undefined' && errors.avatar) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.avatar.msg %> </div>
                    <% } %>

                    <input type="password" name="password" id= "password" placeholder="Password" >
                    <% if (typeof errors != 'undefined' && errors.password) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.password.msg %> </div>
                    <% } %>

                    <button id="registrar">Registrar</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="POST" id="form-login">
                    <h1>Iniciar sesión</h1>
                    <span>Usá tu cuenta</span>
                    <input name="email" type="email" id= "emailL" placeholder="Email" />
                    <% if (typeof errors != 'undefined' && errors.emailL) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.emailL.msg %> </div>
                    <% } %>

                    <input name="password" type="password" id= "contraseña" placeholder="Password" />
                    <% if (typeof errors != 'undefined' && errors.contraseña) { %>
                        <div class="error" style="color: red; font-size: 10px;"><%= errors.contraseña.msg %> </div>
                    <% } %>
                     
                    <div class="recordame">
                        <input type="checkbox" name="rememberUser" value="on">
                        <label for="">Recordame</label>
                    </div>
                    <a href="#">¿Olvidé mi contraseña?</a>
                    <button class="btn-neutro" id="login">Iniciar sesión</button>
           
                </form> 
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Bienvenido de vuelta!</h1>
                        <p>Para mantenerte conectado con nosotros, registrá tus datos!</p>
                        <button class="ghost" id="signIn">Iniciar sesión</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>¡Hola!</h1>
                        <p>Comenzá con nosotros ingresando tus datos!</p>
                        <button class="ghost" id="signUp">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script src="/javascripts/login.js"></script>
    <script src="/validations/formValidator.js"></script>

 
</body>
</html>