<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <script src="https://kit.fontawesome.com/04e8377fb9.js" crossorigin="anonymous"></script>
  <title>Iniciar sesión</title>
</head>
<body>  
    <div>
        <button class="volver"><a href="./index.html" id="btn-volver">Volver</a></button>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/register" enctype="multipart/form-data" method="POST">
                    <h1>Crear cuenta</h1>
                    <span>Usá tu email para registrarte</span>
                    <input type="text" name="nombre" id= "nombre" placeholder="Nombre" >

                    <small style="color: red">
                        <%= (typeof errors != 'undefined' && errors.nombre) ? errors.nombre.msg : '' %>
                    </small>

                    <input type="email" name="email" id= "email" placeholder="Email" >

                    <small style="color: red">
                        <%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %>
                    </small>

                    <label for="avatar"></label>
                    <input type="file" name="avatar" id="avatar">

                    <input type="password" name="password" id= "password" placeholder="Password" >

                    <small style="color: red">
                        <%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %>
                    </small>

                    <button type="submit">Registrar</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="POST">
                    <h1>Iniciar sesión</h1>
                    <span>Usá tu cuenta</span>
                    <input name="email" type="email" id= "email" placeholder="Email" />
                    <small style="color: red">
                        <%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %>
                    </small>

                    <input name="password" type="password" id= "contraseña" placeholder="Password" />
                    <small style="color: red">
                        <%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %>
                    </small>
                    <div class="recordame">
                        <input type="checkbox" name="rememberUser" value="on">
                        <label for="">Recordame</label>
                    </div>
                    <a href="#">¿Olvidé mi contraseña?</a>
                    <button class="btn-neutro">Iniciar sesión</button>
           
                </form> 
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Bienvenido de vuelta!</h1>
                        <p>Para mantenerte conectado con nosotros, registrá tus datos!</p>
                        <button class="ghost" id="signIn">Iniciar sesión</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>¡Hola!</h1>
                        <p>Comenzá con nosotros ingresando tus datos!</p>
                        <button class="ghost" id="signUp">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script src="./javascripts/login.js"></script>
 
</body>
</html>