<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Playstation 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/reglas-generales.css">
    <link rel="stylesheet" href="/css/producto.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section>
        <article>
        <div class="product">
            <div class="image">
                <img src="/images/playstation.jpg" alt="imagen playstation 5">
            </div>
            <div class="buy">
                <h3><%= response.name %></h3>
                <h2>$ <%= response.price %></h2>
                <form action="/productos/agregar/<%= response.id%>" method="post">
                    <button type="submit">Comprar ahora</button>
                </form>
            </div>
        </div>
        <div class="product-info">
            <h4>Descripción</h4>
            <p><%= response.description %></p>
        </div>
    </article>
</section>


    </div>
    <%- include('partials/footer.ejs') %>


        <script src="/javascripts/header.js"></script>

</body>
</html>