<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Actualizar</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/reglas-generales.css">
    <link rel="stylesheet" href="/css/upload.css">
    <!--ALERTIFY-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>


    <form class="product-form" action="/admin/actualizar/<%= response.id %>" method="POST" enctype="multipart/form-data" id="form-product">
        <div class="display">
            <label for="productName">Nombre del producto</label>
            <% if (typeof errors != 'undefined' && errors.productName) { %>
                <p class="error"><%= errors.productName.msg %> </p>
            <% } %>
            <p>Caracteres restantes: <span id="productName-length"></span></p>
            <input type="text" name="productName" id="productName" value="<%= response.name %> " class="input">
        </div>

        
        <div class="display">
            <label for="description">Descripción del producto</label>
            <% if (typeof errors != 'undefined' && errors.description) { %>
                <p class="error"><%= errors.description.msg %> </p>
            <% } %>
            <p>Caracteres restantes: <span id="description-length"></span></p>
            <textarea name="description" id="description" style="font-size: 18px;"><%= response.description %> </textarea>
        </div>
        
        <div class="display">
            <% if (typeof errors != 'undefined' && errors.stock) { %>
                <p class="error"><%= errors.stock.msg %> </p>
            <% } %>
            <label for="number">Cantidad disponible</label>
            <input aria-colcount="10" type="number" name="stock" id="number" value="<%= response.stock %>"  class="input">
        </div>
        <div class="select-container">
            <% if (typeof errors != 'undefined' && errors.category_id) { %>
                <p class="error"><%= errors.category_id.msg %> </p>
            <% } %>
            <select name="category_id" id="category">
                <% switch (response.category_id) {
                    case 1: %>
                    <option selected value="1">Celulares</option>
                    <option value="2">Periféricos</option>
                    <option value="3">Gaming</option>
                  <% break;
                    case 2: %>
                    <option value="1">Celulares</option>
                    <option selected value="2">Periféricos</option>
                    <option value="3">Gaming</option>
                  <% break;
                    case 3: %>
                    <option value="1">Celulares</option>
                    <option value="2">Periféricos</option>
                    <option selected value="3">Gaming</option>
                  <% break;
                    default:
                    break; } %>
            </select>
        </div>
        <div class="select-container">
            <% if (typeof errors != 'undefined' && errors.manufacturer_id) { %>
                <p class="error"><%= errors.manufacturer_id.msg %> </p>
            <% } %>
            <select name="manufacturer_id" id="category">
                <% for( let i = 0; i < manufacturer.length; i++ ) { %>
                    <option value="<%= manufacturer[i].id %>" 
                        <% if (manufacturer[i].id == response.manufacturer_id) { %>
                            selected                 
                        <% } %> 
                        ><%= manufacturer[i].manufacturer%> 
                    </option>
                <% } %>
                <% switch (response.manufacturer_id) {
                    case 1: %>
                    <option selected value="1">Sony</option>
                    <option value="2">Motorola</option>
                    <option value="3">Samsung</option>
                  <% break;
                    case 2: %>
                    <option value="1">Sony</option>
                    <option selected value="2">Motorola</option>
                    <option value="3">Samsung</option>
                  <% break;
                    case 3: %>
                    <option value="1">Sony</option>
                    <option value="2">Motorola</option>
                    <option selected value="3">Samsung</option>
                  <% break;
                    default:
                    break; } %>
            </select>
        </div>

        <div class="display">
            <label for="price">precio</label>
            <% if (typeof errors != 'undefined' && errors.price) { %>
                <p class="error"><%= errors.price.msg %> </p>
            <% } %>
            <input aria-colcount="10" type="number" name="price" id="price" value="<%= response.price %>" class="input">
        </div>

        <div class="display" id="file">
            <label for="fileImg">
                <i class="fas fa-image fa-3x"></i>
                <small>Cambia la imagen del producto</small>
            </label>
            <input type="file" name="photo" id="fileImg" class="input">
            <div class="output-div">
                <img src="/upload/products/<%= response.photo %> " id="output" alt="">
            </div>
        </div>
 
        <input class="submit" type="submit" value="PUBLICAR" class="input" id="submit">

    </form>


    <%- include('partials/footer.ejs') %> 
    <script src="/javascripts/header.js"></script>
    <script src="/validations/updateProduct.js"></script>
</body>