<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Vender</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/reglas-generales.css">
    <link rel="stylesheet" href="/css/upload.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <form class="product-form" action="/admin/crear" method="POST" enctype="multipart/form-data">
        <div class="display">
            <label for="productName">Nombre del producto</label>
            <% if (typeof errors != 'undefined' && errors.productName) { %>
                <p class="error"><%= errors.productName.msg %> </p>
            <% } %>
            <p>Caracteres restantes: <span id="productName-length">100</span></p>
            <input type="text" name="productName" id="productName" placeholder="Escribí acá" class="input">
        </div>

        
        <div class="display">
            <label for="description">Descripción del producto</label>
            <% if (typeof errors != 'undefined' && errors.description) { %>
                <p class="error"><%= errors.description.msg %> </p>
            <% } %>
            <p>Caracteres restantes: <span id="description-length">100</span></p>
            <textarea name="description" id="description" placeholder="Escribí acá"></textarea>
        </div>
        
        <div class="display">
            <label for="number">Cantidad disponible</label>
            <% if (typeof errors != 'undefined' && errors.stock) { %>
                <p class="error"><%= errors.stock.msg %> </p>
            <% } %>
            <input aria-colcount="10" type="number" name="stock" id="number" placeholder="Escribí acá" class="input">
        </div>

        <div class="display">
            <label for="price">precio</label>
            <% if (typeof errors != 'undefined' && errors.price) { %>
                <p class="error"><%= errors.price.msg %> </p>
            <% } %>
            <input aria-colcount="10" type="number" name="price" id="price" placeholder="Escribí acá" class="input">
        </div>

        <div class="select-container">
            <% if (typeof errors != 'undefined' && errors.category_id) { %>
                <p class="error"><%= errors.category_id.msg %> </p>
            <% } %>
            <select name="category_id" id="category">
                <option selected disabled hidden>Elegi una categoria</option>
                <option value="1">Celulares</option>
                <option value="2">Periféricos</option>
                <option value="3">Gaming</option>
            </select>
        </div>
        <div class="select-container">
            <% if (typeof errors != 'undefined' && errors.manufacturer_id) { %>
                <p class="error"><%= errors.manufacturer_id.msg %> </p>
            <% } %>
            <select name="manufacturer_id" id="manufacturer">
                <option selected disabled hidden>Proveedor</option>
                <% for( let i = 0; i < response.length; i++ ) { %>
                    <option value="<%= response[i].id %> "><%= response[i].manufacturer %> </option>
                <% } %>

            </select>
        </div>
        <div class="display" id="file">
            <label for="fileImg">
                <i class="fas fa-image fa-3x"></i>
                <small>Subí la imagen del producto</small>
            </label>
            <input type="file" name="photo" id="fileImg" class="input">
            <div class="output-div">
                <img id="output" alt="">
            </div>
        </div>
 
        <input class="submit" type="submit" value="PUBLICAR" id="submit" class="input">

    </form>


    <%- include('partials/footer.ejs') %> 
    <script src="/javascripts/header.js"></script>
    <script src="/validations/createProduct.js"></script>
</body>