<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Mi cuenta</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/reglas-generales.css">
    <link rel="stylesheet" href="css/userAccount.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <div class="container">

        <div class="users-info">

            <h2> Bienvenido <%= user.name %> </h2>

            <h4>Por favor, complete su información</h4>

        </div>

        <section class='form'>

            <form action="/cuenta/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data" method="POST" id="form-account">

                <div>
                    <img src="/upload/avatars/<%= usuario.avatar %>">
                </div>
            
                <div>
                    <label for= "nombre"> Nombre </label> <br>
                    <input id= "nombre" name= "nombre" type="text" value="<%=usuario.name %>">
                </div>

                <div>
                    <label for= "lastname"> Apellido </label> <br>
                    <input id= "lastname" name= "lastname" type="text" value="<%=usuario.last_name %>"> 
                </div>

                <div>
                    <label for= "email"> Email </label> <br>
                    <input id= "email" name= "email" type="email" value="<%=usuario.email %>" >
                </div>

                <div>
                    <label for= "adress"> Domicilio de entrega </label> <br>
                    <input id= "adress" name= "adress" type="text" value="<%=usuario.adress %>"> 
                </div>

                <div>
                    <label for= "country"> País </label> <br>
                    <input id= "country" name= "country" type="text" value="<%=usuario.country %>">
                </div>

                <div>
                    <label for= "province"> Provincia </label> <br>
                    <input id= "province" name= "province" type="text" value="<%=usuario.province %>">
                </div>

                <div>
                    <label for= "city"> Ciudad </label> <br>
                    <input id= "city" name= "city" type="text" value="<%=usuario.city %>">
                </div>

                <div>
                    <label for= "avatar"> Avatar </label> <br>
                    <input id= "avatar" name= "avatar" type="file" placeholder="Cambia tu avatar">
                </div>

                <div>
                    <button id="actualizar" class='ingresar' type='submit'> Actualizar información
                </div>

            </form>
        </section>
    </div>

    <%- include('partials/footer.ejs') %> 

    <script src="/validations/accountValidator.js" ></script>
</body>
</html>